$akos-orange: #ff6600;

.menu{
  height: 65vw;
  // border: solid red;
  margin: 1em 1em 7em 14em;
  background-color: white;
  opacity: 90%;
  border: solid  $akos-orange;
  border-radius: 2em;
  border-width: .1em;

}