.header {
  width: 100%;
  padding: 10px;
  background-color: white;  // border: solid;
}

.links {
  width: fit-content;
  display: flex;
  margin: 0 auto;
  padding: auto;
  text-align: center;
  // border-color: blue;
  // border: thick;
  // border-style: solid;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}