.header {
  width: 100%;
  padding: 10px;
  background-color: white;  // border: solid;
  height: 80px;
  z-index: 1;
}

.links {
  width: fit-content;
  max-width: 70%;
  display: flex;
  margin: 0 auto;
  padding: auto;
  text-align: center;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.small-logo{
  height: 80%;
  position: absolute;
}

.small-logo:hover{
  cursor: pointer;
}