$akos-orange: #ff6600;

.header-link{
  padding: 20px;
  margin: 10px;
}

.header-link:hover{
  color: $akos-orange;
  cursor: pointer;
  
}

.header-link-selected{
  color: $akos-orange;
}

// .header-link: